---
import type { MarkdownHeading } from "astro";
import Categories from "./Categories.astro";
import Profile from "./Profile.astro";
import Tag from "./Tags.astro";

interface Props {
    class?: string;
    headings?: MarkdownHeading[]; // reserved for future use
}

const { class: className } = Astro.props;
---

<aside
    id="sidebar"
    aria-label="Site sidebar"
    class:list={["w-full", className]}
>
    <div class="flex flex-col w-full gap-4 mb-4">
        <Profile />
    </div>

    <div
        id="sidebar-sticky"
        class="transition-all duration-700 flex flex-col w-full gap-4 top-4 sticky"
    >
        <Categories class="onload-animation" style="animation-delay: 150ms" />
        <Tag class="onload-animation" style="animation-delay: 200ms" />
    </div>
</aside>
